.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #1e2f50;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.ant-form-item {
  margin-bottom: 10px !important;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.header-ticket div {
  width: 100%;
  text-align: center;
  color: black;
}
.header-ticket {
  width: 40%;
}

.field-ticket {
  color: black;
  font-weight: 600;
  width: 100px;
}

.field-ticket-container {
  display: flex;
}

.dotted-gradient {
  background-image: linear-gradient(
    to right,
    #333 40%,
    rgba(255, 255, 255, 0) 20%
  );
  background-position: bottom;
  background-size: 6px 1px;
  background-repeat: repeat-x;
}

#bill {
  -webkit-print-color-adjust: exact;
}

td.textAlignLeft {
  text-align: left !important;
}
td.textAlignLeft span {
  width: 70%;
  position: absolute;
  height: 18px;
  margin-left: 10px;
  background-image: linear-gradient(
    to right,
    #333 40%,
    rgba(255, 255, 255, 0) 20%
  );
  background-position: bottom;
  background-size: 6px 1px;
  background-repeat: repeat-x;
}
#page_1 {
  position: relative;
  overflow: hidden;
  margin: 26px 0px 70px 5px;
  padding: 0px;
  border: none;
  width: 811px;
}
#page_1 #id1_1 {
  border: none;
  margin: 0px 0px 0px 0px;
  padding: 0px;
  border: none;
  width: 811px;
  overflow: hidden;
}
#page_1 #id1_2 {
  border: none;
  margin: 2px 0px 0px 24px;
  padding: 0px;
  border: none;
  width: 787px;
  overflow: hidden;
}

#page_1 #p1dimg1 {
  position: absolute;
  top: 133px;
  left: 76px;
  z-index: -1;
  width: 121px;
  height: 122px;
}
#page_1 #p1dimg1 #p1img1 {
  width: 121px;
  height: 122px;
}
.ft0 {
  font: bold 13px "Times New Roman";
  line-height: 15px;
}
.ft1 {
  font: bold 11px "Times New Roman";
  line-height: 13px;
}
.ft2 {
  font: bold 24px "Times New Roman";
  line-height: 26px;
}
.ft3 {
  font: 16px "Times New Roman";
  line-height: 19px;
}
.ft4 {
  font: 15px "Times New Roman";
  line-height: 17px;
}
.ft5 {
  font: bold 15px "Times New Roman";
  line-height: 16px;
}
.ft6 {
  font: bold 14px "Times New Roman";
  line-height: 16px;
}
.ft7 {
  font: 13px "Times New Roman";
  line-height: 15px;
}
.ft8 {
  font: bold 13px "Times New Roman";
  line-height: 19px;
}
.ft9 {
  font: 13px "Times New Roman";
  line-height: 19px;
}
.ft10 {
  font: italic 13px "Times New Roman";
  line-height: 17px;
}
.ft11 {
  font: italic 13px "Times New Roman";
  line-height: 18px;
}
.ft12 {
  font: italic 13px "Times New Roman";
  line-height: 15px;
}
.ft13 {
  font: 1px "Times New Roman";
  line-height: 1px;
}
.ft14 {
  font: 9px "Times New Roman";
  line-height: 12px;
}
.ft15 {
  font: bold 15px "Times New Roman";
  line-height: 17px;
}
.ft16 {
  font: bold 14px "Times New Roman";
  line-height: 17px;
}
.ft17 {
  font: bold 13px "Times New Roman";
  line-height: 20px;
}
.ft18 {
  font: 13px "Times New Roman";
  line-height: 20px;
}
.ft19 {
  font: bold 13px "Times New Roman";
  line-height: 21px;
}
.ft20 {
  font: 13px "Times New Roman";
  line-height: 21px;
}

.p0 {
  text-align: left;
  padding-left: 7px;
  margin-top: 0px;
  margin-bottom: 0px;
}
.p1 {
  text-align: left;
  padding-left: 50px;
  margin-top: 4px;
  margin-bottom: 0px;
}
.p2 {
  text-align: left;
  padding-left: 58px;
  margin-top: 6px;
  margin-bottom: 0px;
}
.p3 {
  text-align: left;
  padding-left: 24px;
  margin-top: 2px;
  margin-bottom: 0px;
}
.p4 {
  text-align: left;
  padding-left: 73px;
  margin-top: 8px;
  margin-bottom: 0px;
}
.p5 {
  text-align: left;
  padding-left: 37px;
  margin-top: 153px;
  margin-bottom: 0px;
}
.p6 {
  text-align: left;
  padding-left: 50px;
  margin-top: 0px;
  margin-bottom: 0px;
  white-space: nowrap;
}
.p7 {
  text-align: left;
  padding-left: 69px;
  margin-top: 0px;
  margin-bottom: 0px;
  white-space: nowrap;
}
.p8 {
  text-align: left;
  padding-left: 71px;
  margin-top: 0px;
  margin-bottom: 0px;
  white-space: nowrap;
}
.p9 {
  text-align: left;
  margin-top: 0px;
  margin-bottom: 0px;
  white-space: nowrap;
}
.p10 {
  text-align: left;
  padding-left: 33px;
  margin-top: 0px;
  margin-bottom: 0px;
  white-space: nowrap;
}
.p11 {
  text-align: left;
  padding-left: 34px;
  margin-top: 0px;
  margin-bottom: 0px;
  white-space: nowrap;
}
.p12 {
  text-align: left;
  padding-left: 32px;
  margin-top: 0px;
  margin-bottom: 0px;
  white-space: nowrap;
}
.p13 {
  text-align: left;
  padding-left: 1px;
  margin-top: 0px;
  margin-bottom: 0px;
  white-space: nowrap;
}
.p14 {
  text-align: left;
  padding-right: 558px;
  margin-top: 6px;
  margin-bottom: 0px;
}
.p15 {
  text-align: left;
  margin-top: 7px;
  margin-bottom: 0px;
}
.p16 {
  text-align: left;
  padding-right: 552px;
  margin-top: 6px;
  margin-bottom: 0px;
}
.p17 {
  text-align: left;
  padding-right: 547px;
  margin-top: 4px;
  margin-bottom: 0px;
}
.p18 {
  text-align: left;
  padding-right: 572px;
  margin-top: 4px;
  margin-bottom: 0px;
}
.p19 {
  text-align: left;
  padding-right: 550px;
  margin-top: 2px;
  margin-bottom: 0px;
}
.p20 {
  text-align: left;
  margin-top: 4px;
  margin-bottom: 0px;
}
.p21 {
  text-align: left;
  margin-top: 3px;
  margin-bottom: 0px;
}
.p22 {
  text-align: right;
  margin-top: 0px;
  margin-bottom: 0px;
  white-space: nowrap;
}
.p23 {
  text-align: left;
  margin-top: 45px;
  margin-bottom: 0px;
}
.p24 {
  text-align: left;
  padding-left: 7px;
  margin-top: 33px;
  margin-bottom: 0px;
}
.p25 {
  text-align: left;
  margin-top: 0px;
  margin-bottom: 0px;
}
.p26 {
  text-align: left;
  padding-left: 73px;
  margin-top: 0px;
  margin-bottom: 0px;
}
.p27 {
  text-align: left;
  padding-left: 68px;
  margin-top: 0px;
  margin-bottom: 0px;
  white-space: nowrap;
}
.p28 {
  text-align: left;
  padding-left: 20px;
  margin-top: 0px;
  margin-bottom: 0px;
  white-space: nowrap;
}
.p29 {
  text-align: left;
  padding-left: 67px;
  margin-top: 0px;
  margin-bottom: 0px;
  white-space: nowrap;
}
.p30 {
  text-align: left;
  padding-left: 31px;
  margin-top: 0px;
  margin-bottom: 0px;
  white-space: nowrap;
}
.p31 {
  text-align: left;
  padding-right: 570px;
  margin-top: 6px;
  margin-bottom: 0px;
}
.p32 {
  text-align: left;
  margin-top: 6px;
  margin-bottom: 0px;
}
.p33 {
  text-align: left;
  padding-right: 552px;
  margin-top: 5px;
  margin-bottom: 0px;
}
.p34 {
  text-align: left;
  margin-top: 2px;
  margin-bottom: 0px;
}
.p35 {
  text-align: left;
  padding-left: 7px;
  margin-top: 34px;
  margin-bottom: 0px;
}
.p36 {
  text-align: left;
  padding-left: 50px;
  margin-top: 3px;
  margin-bottom: 0px;
}
.p37 {
  text-align: left;
  padding-left: 35px;
  margin-top: 0px;
  margin-bottom: 0px;
  white-space: nowrap;
}
.p38 {
  text-align: left;
  padding-left: 59px;
  margin-top: 0px;
  margin-bottom: 0px;
  white-space: nowrap;
}
.p39 {
  text-align: left;
  padding-right: 555px;
  margin-top: 2px;
  margin-bottom: 0px;
}
.p40 {
  text-align: left;
  padding-left: 27px;
  margin-top: 0px;
  margin-bottom: 0px;
  white-space: nowrap;
}
.p41 {
  text-align: left;
  padding-left: 63px;
  margin-top: 0px;
  margin-bottom: 0px;
  white-space: nowrap;
}
.p42 {
  text-align: left;
  margin-top: 5px;
  margin-bottom: 0px;
}
.p43 {
  text-align: left;
  padding-left: 78px;
  margin-top: 0px;
  margin-bottom: 0px;
  white-space: nowrap;
}
.p44 {
  text-align: left;
  padding-left: 47px;
  margin-top: 0px;
  margin-bottom: 0px;
  white-space: nowrap;
}
.p45 {
  text-align: left;
  padding-left: 52px;
  margin-top: 0px;
  margin-bottom: 0px;
  white-space: nowrap;
}
.p46 {
  text-align: left;
  padding-right: 564px;
  margin-top: 6px;
  margin-bottom: 0px;
}
.p47 {
  text-align: left;
  padding-right: 577px;
  margin-top: 5px;
  margin-bottom: 0px;
}
.p48 {
  text-align: left;
  padding-right: 586px;
  margin-top: 5px;
  margin-bottom: 0px;
}
.p49 {
  text-align: left;
  padding-left: 81px;
  margin-top: 0px;
  margin-bottom: 0px;
  white-space: nowrap;
}
.p50 {
  text-align: left;
  margin-top: 44px;
  margin-bottom: 0px;
}

.td0 {
  padding: 0px;
  margin: 0px;
  width: 120px;
  vertical-align: bottom;
}
.td1 {
  padding: 0px;
  margin: 0px;
  width: 126px;
  vertical-align: bottom;
}
.td2 {
  padding: 0px;
  margin: 0px;
  width: 183px;
  vertical-align: bottom;
}
.td3 {
  padding: 0px;
  margin: 0px;
  width: 80px;
  vertical-align: bottom;
}
.td4 {
  padding: 0px;
  margin: 0px;
  width: 121px;
  vertical-align: bottom;
}
.td5 {
  padding: 0px;
  margin: 0px;
  width: 128px;
  vertical-align: bottom;
}
.td6 {
  padding: 0px;
  margin: 0px;
  width: 136px;
  vertical-align: bottom;
}
.td7 {
  padding: 0px;
  margin: 0px;
  width: 131px;
  vertical-align: bottom;
}
.td8 {
  padding: 0px;
  margin: 0px;
  width: 116px;
  vertical-align: bottom;
}
.td9 {
  padding: 0px;
  margin: 0px;
  width: 129px;
  vertical-align: bottom;
}
.td10 {
  padding: 0px;
  margin: 0px;
  width: 143px;
  vertical-align: bottom;
}
.td11 {
  padding: 0px;
  margin: 0px;
  width: 113px;
  vertical-align: bottom;
}

.tr0 {
  height: 20px;
}
.tr1 {
  height: 16px;
}
.tr2 {
  height: 28px;
}
.tr3 {
  height: 22px;
}
.tr4 {
  height: 19px;
}
.tr5 {
  height: 23px;
}
.tr6 {
  height: 17px;
}
.tr7 {
  height: 27px;
}
.tr8 {
  height: 21px;
}
.tr9 {
  height: 18px;
}
.tr10 {
  height: 15px;
}

.t0 {
  width: 246px;
  margin-top: 12px;
  font: bold 13px "Times New Roman";
}
.t1 {
  width: 263px;
  margin-top: 2px;
  font: italic 13px "Times New Roman";
}
.t2 {
  width: 249px;
  margin-top: 12px;
  font: bold 13px "Times New Roman";
}
.t3 {
  width: 263px;
  margin-top: 1px;
  font: italic 13px "Times New Roman";
}
.t4 {
  width: 257px;
  margin-top: 12px;
  font: bold 13px "Times New Roman";
}
.t5 {
  width: 252px;
  margin-top: 12px;
  font: bold 13px "Times New Roman";
}
.t6 {
  width: 237px;
  margin-top: 12px;
  font: bold 13px "Times New Roman";
}
.t7 {
  width: 264px;
  margin-top: 12px;
  font: bold 13px "Times New Roman";
}
.t8 {
  width: 234px;
  margin-top: 12px;
  font: bold 13px "Times New Roman";
}

.t9 {
  width: 263px;
  margin-top: 4px;
  font: italic 13px "Times New Roman";
}
body {
  margin-top: 0px;
  margin-left: 0px;
  color: "black";
}

#page_1 {
  position: relative;
  overflow: hidden;
  margin: 26px 0px 70px 5px;
  padding: 0px;
  border: none;
  width: 811px;
}
#page_1 #id1_1 {
  border: none;
  margin: 0px 0px 0px 0px;
  padding: 0px;
  border: none;
  width: 811px;
  overflow: hidden;
}
#page_1 #id1_2 {
  border: none;
  margin: 2px 0px 0px 24px;
  padding: 0px;
  border: none;
  width: 787px;
  overflow: hidden;
}

#page_1 #p1dimg1 {
  position: absolute;
  top: 133px;
  left: 76px;
  z-index: -1;
  width: 121px;
  height: 122px;
}
#page_1 #p1dimg1 #p1img1 {
  width: 121px;
  height: 122px;
}

#page_2 {
  position: relative;
  overflow: hidden;
  margin: 26px 0px 156px 5px;
  padding: 0px;
  border: none;
  width: 811px;
}
#page_2 #id2_1 {
  border: none;
  margin: 0px 0px 0px 0px;
  padding: 0px;
  border: none;
  width: 811px;
  overflow: hidden;
}
#page_2 #id2_2 {
  border: none;
  margin: 3px 0px 0px 24px;
  padding: 0px;
  border: none;
  width: 787px;
  overflow: hidden;
}

#page_2 #p2dimg1 {
  position: absolute;
  top: 47px;
  left: 76px;
  z-index: -1;
  width: 121px;
  height: 121px;
}
#page_2 #p2dimg1 #p2img1 {
  width: 121px;
  height: 121px;
}

#page_3 {
  position: relative;
  overflow: hidden;
  margin: 26px 0px 156px 5px;
  padding: 0px;
  border: none;
  width: 811px;
}
#page_3 #id3_1 {
  border: none;
  margin: 0px 0px 0px 0px;
  padding: 0px;
  border: none;
  width: 811px;
  overflow: hidden;
}
#page_3 #id3_2 {
  border: none;
  margin: 3px 0px 0px 24px;
  padding: 0px;
  border: none;
  width: 787px;
  overflow: hidden;
}

#page_3 #p3dimg1 {
  position: absolute;
  top: 47px;
  left: 76px;
  z-index: -1;
  width: 121px;
  height: 121px;
}
#page_3 #p3dimg1 #p3img1 {
  width: 121px;
  height: 121px;
}

#page_4 {
  position: relative;
  overflow: hidden;
  margin: 26px 0px 156px 5px;
  padding: 0px;
  border: none;
  width: 811px;
}
#page_4 #id4_1 {
  border: none;
  margin: 0px 0px 0px 0px;
  padding: 0px;
  border: none;
  width: 811px;
  overflow: hidden;
}
#page_4 #id4_2 {
  border: none;
  margin: 3px 0px 0px 24px;
  padding: 0px;
  border: none;
  width: 787px;
  overflow: hidden;
}

#page_4 #p4dimg1 {
  position: absolute;
  top: 47px;
  left: 76px;
  z-index: -1;
  width: 121px;
  height: 121px;
}
#page_4 #p4dimg1 #p4img1 {
  width: 121px;
  height: 121px;
}

#page_5 {
  position: relative;
  overflow: hidden;
  margin: 26px 0px 156px 5px;
  padding: 0px;
  border: none;
  width: 811px;
}
#page_5 #id5_1 {
  border: none;
  margin: 0px 0px 0px 0px;
  padding: 0px;
  border: none;
  width: 811px;
  overflow: hidden;
}
#page_5 #id5_2 {
  border: none;
  margin: 3px 0px 0px 24px;
  padding: 0px;
  border: none;
  width: 787px;
  overflow: hidden;
}

#page_5 #p5dimg1 {
  position: absolute;
  top: 47px;
  left: 76px;
  z-index: -1;
  width: 121px;
  height: 121px;
}
#page_5 #p5dimg1 #p5img1 {
  width: 121px;
  height: 121px;
}

#page_6 {
  position: relative;
  overflow: hidden;
  margin: 26px 0px 156px 5px;
  padding: 0px;
  border: none;
  width: 811px;
}
#page_6 #id6_1 {
  border: none;
  margin: 0px 0px 0px 0px;
  padding: 0px;
  border: none;
  width: 811px;
  overflow: hidden;
}
#page_6 #id6_2 {
  border: none;
  margin: 3px 0px 0px 24px;
  padding: 0px;
  border: none;
  width: 787px;
  overflow: hidden;
}

#page_6 #p6dimg1 {
  position: absolute;
  top: 47px;
  left: 76px;
  z-index: -1;
  width: 121px;
  height: 121px;
}
#page_6 #p6dimg1 #p6img1 {
  width: 121px;
  height: 121px;
}

#page_7 {
  position: relative;
  overflow: hidden;
  margin: 26px 0px 156px 5px;
  padding: 0px;
  border: none;
  width: 811px;
}
#page_7 #id7_1 {
  border: none;
  margin: 0px 0px 0px 0px;
  padding: 0px;
  border: none;
  width: 811px;
  overflow: hidden;
}
#page_7 #id7_2 {
  border: none;
  margin: 3px 0px 0px 24px;
  padding: 0px;
  border: none;
  width: 787px;
  overflow: hidden;
}

#page_7 #p7dimg1 {
  position: absolute;
  top: 47px;
  left: 76px;
  z-index: -1;
  width: 121px;
  height: 121px;
}
#page_7 #p7dimg1 #p7img1 {
  width: 121px;
  height: 121px;
}

#page_8 {
  position: relative;
  overflow: hidden;
  margin: 26px 0px 156px 5px;
  padding: 0px;
  border: none;
  width: 811px;
}
#page_8 #id8_1 {
  border: none;
  margin: 0px 0px 0px 0px;
  padding: 0px;
  border: none;
  width: 811px;
  overflow: hidden;
}
#page_8 #id8_2 {
  border: none;
  margin: 3px 0px 0px 24px;
  padding: 0px;
  border: none;
  width: 787px;
  overflow: hidden;
}

#page_8 #p8dimg1 {
  position: absolute;
  top: 47px;
  left: 76px;
  z-index: -1;
  width: 121px;
  height: 121px;
}
#page_8 #p8dimg1 #p8img1 {
  width: 121px;
  height: 121px;
}

#page_9 {
  position: relative;
  overflow: hidden;
  margin: 26px 0px 156px 5px;
  padding: 0px;
  border: none;
  width: 811px;
}
#page_9 #id9_1 {
  border: none;
  margin: 0px 0px 0px 0px;
  padding: 0px;
  border: none;
  width: 811px;
  overflow: hidden;
}
#page_9 #id9_2 {
  border: none;
  margin: 3px 0px 0px 24px;
  padding: 0px;
  border: none;
  width: 787px;
  overflow: hidden;
}

#page_9 #p9dimg1 {
  position: absolute;
  top: 47px;
  left: 76px;
  z-index: -1;
  width: 121px;
  height: 121px;
}
#page_9 #p9dimg1 #p9img1 {
  width: 121px;
  height: 121px;
}

#page_10 {
  position: relative;
  overflow: hidden;
  margin: 26px 0px 156px 5px;
  padding: 0px;
  border: none;
  width: 811px;
}
#page_10 #id10_1 {
  border: none;
  margin: 0px 0px 0px 0px;
  padding: 0px;
  border: none;
  width: 811px;
  overflow: hidden;
}
#page_10 #id10_2 {
  border: none;
  margin: 3px 0px 0px 24px;
  padding: 0px;
  border: none;
  width: 787px;
  overflow: hidden;
}

#page_10 #p10dimg1 {
  position: absolute;
  top: 47px;
  left: 76px;
  z-index: -1;
  width: 121px;
  height: 121px;
}
#page_10 #p10dimg1 #p10img1 {
  width: 121px;
  height: 121px;
}

#page_11 {
  position: relative;
  overflow: hidden;
  margin: 26px 0px 156px 5px;
  padding: 0px;
  border: none;
  width: 811px;
}
#page_11 #id11_1 {
  border: none;
  margin: 0px 0px 0px 0px;
  padding: 0px;
  border: none;
  width: 811px;
  overflow: hidden;
}
#page_11 #id11_2 {
  border: none;
  margin: 3px 0px 0px 24px;
  padding: 0px;
  border: none;
  width: 787px;
  overflow: hidden;
}

#page_11 #p11dimg1 {
  position: absolute;
  top: 47px;
  left: 76px;
  z-index: -1;
  width: 121px;
  height: 121px;
}
#page_11 #p11dimg1 #p11img1 {
  width: 121px;
  height: 121px;
}

#page_12 {
  position: relative;
  overflow: hidden;
  margin: 26px 0px 156px 5px;
  padding: 0px;
  border: none;
  width: 811px;
}
#page_12 #id12_1 {
  border: none;
  margin: 0px 0px 0px 0px;
  padding: 0px;
  border: none;
  width: 811px;
  overflow: hidden;
}
#page_12 #id12_2 {
  border: none;
  margin: 3px 0px 0px 24px;
  padding: 0px;
  border: none;
  width: 787px;
  overflow: hidden;
}

#page_12 #p12dimg1 {
  position: absolute;
  top: 47px;
  left: 76px;
  z-index: -1;
  width: 121px;
  height: 121px;
}
#page_12 #p12dimg1 #p12img1 {
  width: 121px;
  height: 121px;
}

#page_13 {
  position: relative;
  overflow: hidden;
  margin: 26px 0px 156px 5px;
  padding: 0px;
  border: none;
  width: 811px;
}
#page_13 #id13_1 {
  border: none;
  margin: 0px 0px 0px 0px;
  padding: 0px;
  border: none;
  width: 811px;
  overflow: hidden;
}
#page_13 #id13_2 {
  border: none;
  margin: 3px 0px 0px 24px;
  padding: 0px;
  border: none;
  width: 787px;
  overflow: hidden;
}

#page_13 #p13dimg1 {
  position: absolute;
  top: 47px;
  left: 76px;
  z-index: -1;
  width: 121px;
  height: 121px;
}
#page_13 #p13dimg1 #p13img1 {
  width: 121px;
  height: 121px;
}

#page_14 {
  position: relative;
  overflow: hidden;
  margin: 26px 0px 156px 5px;
  padding: 0px;
  border: none;
  width: 811px;
}
#page_14 #id14_1 {
  border: none;
  margin: 0px 0px 0px 0px;
  padding: 0px;
  border: none;
  width: 811px;
  overflow: hidden;
}
#page_14 #id14_2 {
  border: none;
  margin: 3px 0px 0px 24px;
  padding: 0px;
  border: none;
  width: 787px;
  overflow: hidden;
}

#page_14 #p14dimg1 {
  position: absolute;
  top: 47px;
  left: 76px;
  z-index: -1;
  width: 121px;
  height: 121px;
}
#page_14 #p14dimg1 #p14img1 {
  width: 121px;
  height: 121px;
}

#page_15 {
  position: relative;
  overflow: hidden;
  margin: 26px 0px 156px 5px;
  padding: 0px;
  border: none;
  width: 811px;
}
#page_15 #id15_1 {
  border: none;
  margin: 0px 0px 0px 0px;
  padding: 0px;
  border: none;
  width: 811px;
  overflow: hidden;
}
#page_15 #id15_2 {
  border: none;
  margin: 3px 0px 0px 24px;
  padding: 0px;
  border: none;
  width: 787px;
  overflow: hidden;
}

#page_15 #p15dimg1 {
  position: absolute;
  top: 47px;
  left: 76px;
  z-index: -1;
  width: 121px;
  height: 121px;
}
#page_15 #p15dimg1 #p15img1 {
  width: 121px;
  height: 121px;
}

#page_16 {
  position: relative;
  overflow: hidden;
  margin: 26px 0px 156px 5px;
  padding: 0px;
  border: none;
  width: 811px;
}
#page_16 #id16_1 {
  border: none;
  margin: 0px 0px 0px 0px;
  padding: 0px;
  border: none;
  width: 811px;
  overflow: hidden;
}
#page_16 #id16_2 {
  border: none;
  margin: 3px 0px 0px 24px;
  padding: 0px;
  border: none;
  width: 787px;
  overflow: hidden;
}

#page_16 #p16dimg1 {
  position: absolute;
  top: 47px;
  left: 76px;
  z-index: -1;
  width: 121px;
  height: 121px;
}
#page_16 #p16dimg1 #p16img1 {
  width: 121px;
  height: 121px;
}

#page_17 {
  position: relative;
  overflow: hidden;
  margin: 26px 0px 156px 5px;
  padding: 0px;
  border: none;
  width: 811px;
}
#page_17 #id17_1 {
  border: none;
  margin: 0px 0px 0px 0px;
  padding: 0px;
  border: none;
  width: 811px;
  overflow: hidden;
}
#page_17 #id17_2 {
  border: none;
  margin: 3px 0px 0px 24px;
  padding: 0px;
  border: none;
  width: 787px;
  overflow: hidden;
}

#page_17 #p17dimg1 {
  position: absolute;
  top: 47px;
  left: 76px;
  z-index: -1;
  width: 121px;
  height: 121px;
}
#page_17 #p17dimg1 #p17img1 {
  width: 121px;
  height: 121px;
}

#page_18 {
  position: relative;
  overflow: hidden;
  margin: 26px 0px 156px 5px;
  padding: 0px;
  border: none;
  width: 811px;
}
#page_18 #id18_1 {
  border: none;
  margin: 0px 0px 0px 0px;
  padding: 0px;
  border: none;
  width: 811px;
  overflow: hidden;
}
#page_18 #id18_2 {
  border: none;
  margin: 3px 0px 0px 24px;
  padding: 0px;
  border: none;
  width: 787px;
  overflow: hidden;
}

#page_18 #p18dimg1 {
  position: absolute;
  top: 47px;
  left: 76px;
  z-index: -1;
  width: 121px;
  height: 121px;
}
#page_18 #p18dimg1 #p18img1 {
  width: 121px;
  height: 121px;
}

#page_19 {
  position: relative;
  overflow: hidden;
  margin: 26px 0px 156px 5px;
  padding: 0px;
  border: none;
  width: 811px;
}
#page_19 #id19_1 {
  border: none;
  margin: 0px 0px 0px 0px;
  padding: 0px;
  border: none;
  width: 811px;
  overflow: hidden;
}
#page_19 #id19_2 {
  border: none;
  margin: 3px 0px 0px 24px;
  padding: 0px;
  border: none;
  width: 787px;
  overflow: hidden;
}

#page_19 #p19dimg1 {
  position: absolute;
  top: 47px;
  left: 76px;
  z-index: -1;
  width: 121px;
  height: 121px;
}
#page_19 #p19dimg1 #p19img1 {
  width: 121px;
  height: 121px;
}

#page_20 {
  position: relative;
  overflow: hidden;
  margin: 26px 0px 156px 5px;
  padding: 0px;
  border: none;
  width: 811px;
}
#page_20 #id20_1 {
  border: none;
  margin: 0px 0px 0px 0px;
  padding: 0px;
  border: none;
  width: 811px;
  overflow: hidden;
}
#page_20 #id20_2 {
  border: none;
  margin: 3px 0px 0px 24px;
  padding: 0px;
  border: none;
  width: 787px;
  overflow: hidden;
}

#page_20 #p20dimg1 {
  position: absolute;
  top: 47px;
  left: 76px;
  z-index: -1;
  width: 121px;
  height: 121px;
}
#page_20 #p20dimg1 #p20img1 {
  width: 121px;
  height: 121px;
}

#page_21 {
  position: relative;
  overflow: hidden;
  margin: 26px 0px 156px 5px;
  padding: 0px;
  border: none;
  width: 811px;
}
#page_21 #id21_1 {
  border: none;
  margin: 0px 0px 0px 0px;
  padding: 0px;
  border: none;
  width: 811px;
  overflow: hidden;
}
#page_21 #id21_2 {
  border: none;
  margin: 3px 0px 0px 24px;
  padding: 0px;
  border: none;
  width: 787px;
  overflow: hidden;
}

#page_21 #p21dimg1 {
  position: absolute;
  top: 47px;
  left: 76px;
  z-index: -1;
  width: 121px;
  height: 121px;
}
#page_21 #p21dimg1 #p21img1 {
  width: 121px;
  height: 121px;
}

#page_22 {
  position: relative;
  overflow: hidden;
  margin: 26px 0px 156px 5px;
  padding: 0px;
  border: none;
  width: 811px;
}
#page_22 #id22_1 {
  border: none;
  margin: 0px 0px 0px 0px;
  padding: 0px;
  border: none;
  width: 811px;
  overflow: hidden;
}
#page_22 #id22_2 {
  border: none;
  margin: 3px 0px 0px 24px;
  padding: 0px;
  border: none;
  width: 787px;
  overflow: hidden;
}

#page_22 #p22dimg1 {
  position: absolute;
  top: 47px;
  left: 76px;
  z-index: -1;
  width: 121px;
  height: 121px;
}
#page_22 #p22dimg1 #p22img1 {
  width: 121px;
  height: 121px;
}

#page_23 {
  position: relative;
  overflow: hidden;
  margin: 26px 0px 156px 5px;
  padding: 0px;
  border: none;
  width: 811px;
}
#page_23 #id23_1 {
  border: none;
  margin: 0px 0px 0px 0px;
  padding: 0px;
  border: none;
  width: 811px;
  overflow: hidden;
}
#page_23 #id23_2 {
  border: none;
  margin: 3px 0px 0px 24px;
  padding: 0px;
  border: none;
  width: 787px;
  overflow: hidden;
}

#page_23 #p23dimg1 {
  position: absolute;
  top: 47px;
  left: 76px;
  z-index: -1;
  width: 121px;
  height: 121px;
}
#page_23 #p23dimg1 #p23img1 {
  width: 121px;
  height: 121px;
}

#page_24 {
  position: relative;
  overflow: hidden;
  margin: 26px 0px 156px 5px;
  padding: 0px;
  border: none;
  width: 811px;
}
#page_24 #id24_1 {
  border: none;
  margin: 0px 0px 0px 0px;
  padding: 0px;
  border: none;
  width: 811px;
  overflow: hidden;
}
#page_24 #id24_2 {
  border: none;
  margin: 3px 0px 0px 24px;
  padding: 0px;
  border: none;
  width: 787px;
  overflow: hidden;
}

#page_24 #p24dimg1 {
  position: absolute;
  top: 47px;
  left: 76px;
  z-index: -1;
  width: 121px;
  height: 121px;
}
#page_24 #p24dimg1 #p24img1 {
  width: 121px;
  height: 121px;
}

#page_25 {
  position: relative;
  overflow: hidden;
  margin: 26px 0px 156px 5px;
  padding: 0px;
  border: none;
  width: 811px;
}
#page_25 #id25_1 {
  border: none;
  margin: 0px 0px 0px 0px;
  padding: 0px;
  border: none;
  width: 811px;
  overflow: hidden;
}
#page_25 #id25_2 {
  border: none;
  margin: 3px 0px 0px 24px;
  padding: 0px;
  border: none;
  width: 787px;
  overflow: hidden;
}

#page_25 #p25dimg1 {
  position: absolute;
  top: 47px;
  left: 76px;
  z-index: -1;
  width: 121px;
  height: 121px;
}
#page_25 #p25dimg1 #p25img1 {
  width: 121px;
  height: 121px;
}

#page_26 {
  position: relative;
  overflow: hidden;
  margin: 26px 0px 156px 5px;
  padding: 0px;
  border: none;
  width: 811px;
}
#page_26 #id26_1 {
  border: none;
  margin: 0px 0px 0px 0px;
  padding: 0px;
  border: none;
  width: 811px;
  overflow: hidden;
}
#page_26 #id26_2 {
  border: none;
  margin: 3px 0px 0px 24px;
  padding: 0px;
  border: none;
  width: 787px;
  overflow: hidden;
}

#page_26 #p26dimg1 {
  position: absolute;
  top: 47px;
  left: 76px;
  z-index: -1;
  width: 121px;
  height: 121px;
}
#page_26 #p26dimg1 #p26img1 {
  width: 121px;
  height: 121px;
}

#page_27 {
  position: relative;
  overflow: hidden;
  margin: 26px 0px 156px 5px;
  padding: 0px;
  border: none;
  width: 811px;
}
#page_27 #id27_1 {
  border: none;
  margin: 0px 0px 0px 0px;
  padding: 0px;
  border: none;
  width: 811px;
  overflow: hidden;
}
#page_27 #id27_2 {
  border: none;
  margin: 3px 0px 0px 24px;
  padding: 0px;
  border: none;
  width: 787px;
  overflow: hidden;
}

#page_27 #p27dimg1 {
  position: absolute;
  top: 47px;
  left: 76px;
  z-index: -1;
  width: 121px;
  height: 121px;
}
#page_27 #p27dimg1 #p27img1 {
  width: 121px;
  height: 121px;
}

#page_28 {
  position: relative;
  overflow: hidden;
  margin: 26px 0px 156px 5px;
  padding: 0px;
  border: none;
  width: 811px;
}
#page_28 #id28_1 {
  border: none;
  margin: 0px 0px 0px 0px;
  padding: 0px;
  border: none;
  width: 811px;
  overflow: hidden;
}
#page_28 #id28_2 {
  border: none;
  margin: 3px 0px 0px 24px;
  padding: 0px;
  border: none;
  width: 787px;
  overflow: hidden;
}

#page_28 #p28dimg1 {
  position: absolute;
  top: 47px;
  left: 76px;
  z-index: -1;
  width: 121px;
  height: 121px;
}
#page_28 #p28dimg1 #p28img1 {
  width: 121px;
  height: 121px;
}

#page_29 {
  position: relative;
  overflow: hidden;
  margin: 26px 0px 156px 5px;
  padding: 0px;
  border: none;
  width: 811px;
}
#page_29 #id29_1 {
  border: none;
  margin: 0px 0px 0px 0px;
  padding: 0px;
  border: none;
  width: 811px;
  overflow: hidden;
}
#page_29 #id29_2 {
  border: none;
  margin: 3px 0px 0px 24px;
  padding: 0px;
  border: none;
  width: 787px;
  overflow: hidden;
}

#page_29 #p29dimg1 {
  position: absolute;
  top: 47px;
  left: 76px;
  z-index: -1;
  width: 121px;
  height: 121px;
}
#page_29 #p29dimg1 #p29img1 {
  width: 121px;
  height: 121px;
}

#page_30 {
  position: relative;
  overflow: hidden;
  margin: 26px 0px 156px 5px;
  padding: 0px;
  border: none;
  width: 811px;
}
#page_30 #id30_1 {
  border: none;
  margin: 0px 0px 0px 0px;
  padding: 0px;
  border: none;
  width: 811px;
  overflow: hidden;
}
#page_30 #id30_2 {
  border: none;
  margin: 3px 0px 0px 24px;
  padding: 0px;
  border: none;
  width: 787px;
  overflow: hidden;
}

#page_30 #p30dimg1 {
  position: absolute;
  top: 47px;
  left: 76px;
  z-index: -1;
  width: 121px;
  height: 121px;
}
#page_30 #p30dimg1 #p30img1 {
  width: 121px;
  height: 121px;
}

#page_31 {
  position: relative;
  overflow: hidden;
  margin: 26px 0px 156px 5px;
  padding: 0px;
  border: none;
  width: 811px;
}
#page_31 #id31_1 {
  border: none;
  margin: 0px 0px 0px 0px;
  padding: 0px;
  border: none;
  width: 811px;
  overflow: hidden;
}
#page_31 #id31_2 {
  border: none;
  margin: 3px 0px 0px 24px;
  padding: 0px;
  border: none;
  width: 787px;
  overflow: hidden;
}

#page_31 #p31dimg1 {
  position: absolute;
  top: 47px;
  left: 76px;
  z-index: -1;
  width: 121px;
  height: 121px;
}
#page_31 #p31dimg1 #p31img1 {
  width: 121px;
  height: 121px;
}

#page_32 {
  position: relative;
  overflow: hidden;
  margin: 26px 0px 156px 5px;
  padding: 0px;
  border: none;
  width: 811px;
}
#page_32 #id32_1 {
  border: none;
  margin: 0px 0px 0px 0px;
  padding: 0px;
  border: none;
  width: 811px;
  overflow: hidden;
}
#page_32 #id32_2 {
  border: none;
  margin: 3px 0px 0px 24px;
  padding: 0px;
  border: none;
  width: 787px;
  overflow: hidden;
}

#page_32 #p32dimg1 {
  position: absolute;
  top: 47px;
  left: 76px;
  z-index: -1;
  width: 121px;
  height: 121px;
}
#page_32 #p32dimg1 #p32img1 {
  width: 121px;
  height: 121px;
}

#page_33 {
  position: relative;
  overflow: hidden;
  margin: 26px 0px 269px 5px;
  padding: 0px;
  border: none;
  width: 811px;
}

#page_33 #p33dimg1 {
  position: absolute;
  top: 47px;
  left: 76px;
  z-index: -1;
  width: 121px;
  height: 121px;
}
#page_33 #p33dimg1 #p33img1 {
  width: 121px;
  height: 121px;
}

.ft0 {
  font: bold 13px "Times New Roman";
  line-height: 15px;
}
.ft1 {
  font: bold 11px "Times New Roman";
  line-height: 13px;
}
.ft2 {
  font: bold 24px "Times New Roman";
  line-height: 26px;
}
.ft3 {
  font: 16px "Times New Roman";
  line-height: 19px;
}
.ft4 {
  font: 15px "Times New Roman";
  line-height: 17px;
}
.ft5 {
  font: bold 15px "Times New Roman";
  line-height: 16px;
}
.ft6 {
  font: bold 14px "Times New Roman";
  line-height: 16px;
}
.ft7 {
  font: 13px "Times New Roman";
  line-height: 15px;
}
.ft8 {
  font: bold 13px "Times New Roman";
  line-height: 19px;
}
.ft9 {
  font: 13px "Times New Roman";
  line-height: 19px;
}
.ft10 {
  font: italic 13px "Times New Roman";
  line-height: 17px;
}
.ft11 {
  font: italic 13px "Times New Roman";
  line-height: 18px;
}
.ft12 {
  font: italic 13px "Times New Roman";
  line-height: 15px;
}
.ft13 {
  font: 1px "Times New Roman";
  line-height: 1px;
}
.ft14 {
  font: 9px "Times New Roman";
  line-height: 12px;
}
.ft15 {
  font: bold 15px "Times New Roman";
  line-height: 17px;
}
.ft16 {
  font: bold 14px "Times New Roman";
  line-height: 17px;
}
.ft17 {
  font: bold 13px "Times New Roman";
  line-height: 20px;
}
.ft18 {
  font: 13px "Times New Roman";
  line-height: 20px;
}
.ft19 {
  font: bold 13px "Times New Roman";
  line-height: 21px;
}
.ft20 {
  font: 13px "Times New Roman";
  line-height: 21px;
}

.p0 {
  text-align: left;
  padding-left: 7px;
  margin-top: 0px;
  margin-bottom: 0px;
}
.p1 {
  text-align: left;
  padding-left: 50px;
  margin-top: 4px;
  margin-bottom: 0px;
}
.p2 {
  text-align: left;
  padding-left: 58px;
  margin-top: 6px;
  margin-bottom: 0px;
}
.p3 {
  text-align: left;
  padding-left: 24px;
  margin-top: 2px;
  margin-bottom: 0px;
}
.p4 {
  text-align: left;
  padding-left: 73px;
  margin-top: 8px;
  margin-bottom: 0px;
}
.p5 {
  text-align: left;
  padding-left: 37px;
  margin-top: 153px;
  margin-bottom: 0px;
}
.p6 {
  text-align: left;
  padding-left: 50px;
  margin-top: 0px;
  margin-bottom: 0px;
  white-space: nowrap;
}
.p7 {
  text-align: left;
  padding-left: 69px;
  margin-top: 0px;
  margin-bottom: 0px;
  white-space: nowrap;
}
.p8 {
  text-align: left;
  padding-left: 71px;
  margin-top: 0px;
  margin-bottom: 0px;
  white-space: nowrap;
}
.p9 {
  text-align: left;
  margin-top: 0px;
  margin-bottom: 0px;
  white-space: nowrap;
}
.p10 {
  text-align: left;
  padding-left: 33px;
  margin-top: 0px;
  margin-bottom: 0px;
  white-space: nowrap;
}
.p11 {
  text-align: left;
  padding-left: 34px;
  margin-top: 0px;
  margin-bottom: 0px;
  white-space: nowrap;
}
.p12 {
  text-align: left;
  padding-left: 32px;
  margin-top: 0px;
  margin-bottom: 0px;
  white-space: nowrap;
}
.p13 {
  text-align: left;
  padding-left: 1px;
  margin-top: 0px;
  margin-bottom: 0px;
  white-space: nowrap;
}
.p14 {
  text-align: left;
  padding-right: 558px;
  margin-top: 6px;
  margin-bottom: 0px;
}
.p15 {
  text-align: left;
  margin-top: 7px;
  margin-bottom: 0px;
}
.p16 {
  text-align: left;
  padding-right: 552px;
  margin-top: 6px;
  margin-bottom: 0px;
}
.p17 {
  text-align: left;
  padding-right: 547px;
  margin-top: 4px;
  margin-bottom: 0px;
}
.p18 {
  text-align: left;
  padding-right: 572px;
  margin-top: 4px;
  margin-bottom: 0px;
}
.p19 {
  text-align: left;
  padding-right: 550px;
  margin-top: 2px;
  margin-bottom: 0px;
}
.p20 {
  text-align: left;
  margin-top: 4px;
  margin-bottom: 0px;
}
.p21 {
  text-align: left;
  margin-top: 3px;
  margin-bottom: 0px;
}
.p22 {
  text-align: right;
  margin-top: 0px;
  margin-bottom: 0px;
  white-space: nowrap;
}
.p23 {
  text-align: left;
  margin-top: 45px;
  margin-bottom: 0px;
}
.p24 {
  text-align: left;
  padding-left: 7px;
  margin-top: 33px;
  margin-bottom: 0px;
}
.p25 {
  text-align: left;
  margin-top: 0px;
  margin-bottom: 0px;
}
.p26 {
  text-align: left;
  padding-left: 73px;
  margin-top: 0px;
  margin-bottom: 0px;
}
.p27 {
  text-align: left;
  padding-left: 68px;
  margin-top: 0px;
  margin-bottom: 0px;
  white-space: nowrap;
}
.p28 {
  text-align: left;
  padding-left: 20px;
  margin-top: 0px;
  margin-bottom: 0px;
  white-space: nowrap;
}
.p29 {
  text-align: left;
  padding-left: 67px;
  margin-top: 0px;
  margin-bottom: 0px;
  white-space: nowrap;
}
.p30 {
  text-align: left;
  padding-left: 31px;
  margin-top: 0px;
  margin-bottom: 0px;
  white-space: nowrap;
}
.p31 {
  text-align: left;
  padding-right: 570px;
  margin-top: 6px;
  margin-bottom: 0px;
}
.p32 {
  text-align: left;
  margin-top: 6px;
  margin-bottom: 0px;
}
.p33 {
  text-align: left;
  padding-right: 552px;
  margin-top: 5px;
  margin-bottom: 0px;
}
.p34 {
  text-align: left;
  margin-top: 2px;
  margin-bottom: 0px;
}
.p35 {
  text-align: left;
  padding-left: 7px;
  margin-top: 34px;
  margin-bottom: 0px;
}
.p36 {
  text-align: left;
  padding-left: 50px;
  margin-top: 3px;
  margin-bottom: 0px;
}
.p37 {
  text-align: left;
  padding-left: 35px;
  margin-top: 0px;
  margin-bottom: 0px;
  white-space: nowrap;
}
.p38 {
  text-align: left;
  padding-left: 59px;
  margin-top: 0px;
  margin-bottom: 0px;
  white-space: nowrap;
}
.p39 {
  text-align: left;
  padding-right: 555px;
  margin-top: 2px;
  margin-bottom: 0px;
}
.p40 {
  text-align: left;
  padding-left: 27px;
  margin-top: 0px;
  margin-bottom: 0px;
  white-space: nowrap;
}
.p41 {
  text-align: left;
  padding-left: 63px;
  margin-top: 0px;
  margin-bottom: 0px;
  white-space: nowrap;
}
.p42 {
  text-align: left;
  margin-top: 5px;
  margin-bottom: 0px;
}
.p43 {
  text-align: left;
  padding-left: 78px;
  margin-top: 0px;
  margin-bottom: 0px;
  white-space: nowrap;
}
.p44 {
  text-align: left;
  padding-left: 47px;
  margin-top: 0px;
  margin-bottom: 0px;
  white-space: nowrap;
}
.p45 {
  text-align: left;
  padding-left: 52px;
  margin-top: 0px;
  margin-bottom: 0px;
  white-space: nowrap;
}
.p46 {
  text-align: left;
  padding-right: 564px;
  margin-top: 6px;
  margin-bottom: 0px;
}
.p47 {
  text-align: left;
  padding-right: 577px;
  margin-top: 5px;
  margin-bottom: 0px;
}
.p48 {
  text-align: left;
  padding-right: 586px;
  margin-top: 5px;
  margin-bottom: 0px;
}
.p49 {
  text-align: left;
  padding-left: 81px;
  margin-top: 0px;
  margin-bottom: 0px;
  white-space: nowrap;
}
.p50 {
  text-align: left;
  margin-top: 44px;
  margin-bottom: 0px;
}

.td0 {
  padding: 0px;
  margin: 0px;
  width: 120px;
  vertical-align: bottom;
}
.td1 {
  padding: 0px;
  margin: 0px;
  width: 126px;
  vertical-align: bottom;
}
.td2 {
  padding: 0px;
  margin: 0px;
  width: 183px;
  vertical-align: bottom;
}
.td3 {
  padding: 0px;
  margin: 0px;
  width: 80px;
  vertical-align: bottom;
}
.td4 {
  padding: 0px;
  margin: 0px;
  width: 121px;
  vertical-align: bottom;
}
.td5 {
  padding: 0px;
  margin: 0px;
  width: 128px;
  vertical-align: bottom;
}
.td6 {
  padding: 0px;
  margin: 0px;
  width: 136px;
  vertical-align: bottom;
}
.td7 {
  padding: 0px;
  margin: 0px;
  width: 131px;
  vertical-align: bottom;
}
.td8 {
  padding: 0px;
  margin: 0px;
  width: 116px;
  vertical-align: bottom;
}
.td9 {
  padding: 0px;
  margin: 0px;
  width: 129px;
  vertical-align: bottom;
}
.td10 {
  padding: 0px;
  margin: 0px;
  width: 143px;
  vertical-align: bottom;
}
.td11 {
  padding: 0px;
  margin: 0px;
  width: 113px;
  vertical-align: bottom;
}
table {
  border: 0 !important;
}
.tr0 {
  height: 20px;
}
.tr1 {
  height: 16px;
}
.tr2 {
  height: 28px;
}
.tr3 {
  height: 22px;
}
.tr4 {
  height: 19px;
}
.tr5 {
  height: 23px;
}
.tr6 {
  height: 17px;
}
.tr7 {
  height: 27px;
}
.tr8 {
  height: 21px;
}
.tr9 {
  height: 18px;
}
.tr10 {
  height: 15px;
}

.t0 {
  width: 246px;
  margin-top: 12px;
  font: bold 13px "Times New Roman";
}
.t1 {
  width: 263px;
  margin-top: 2px;
  font: italic 13px "Times New Roman";
}
.t2 {
  width: 249px;
  margin-top: 12px;
  font: bold 13px "Times New Roman";
}
.t3 {
  width: 263px;
  margin-top: 1px;
  font: italic 13px "Times New Roman";
}
.t4 {
  width: 257px;
  margin-top: 12px;
  font: bold 13px "Times New Roman";
}
.t5 {
  width: 252px;
  margin-top: 12px;
  font: bold 13px "Times New Roman";
}
.t6 {
  width: 237px;
  margin-top: 12px;
  font: bold 13px "Times New Roman";
}
.t7 {
  width: 264px;
  margin-top: 12px;
  font: bold 13px "Times New Roman";
}
.t8 {
  width: 234px;
  margin-top: 12px;
  font: bold 13px "Times New Roman";
}
.t9 {
  width: 263px;
  margin-top: 4px;
  font: italic 13px "Times New Roman";
}

.asdfsdf * {
  width: fit-content;
}
.ticket-page * {
  font-weight: 800;
}
