#page_1222 {position:relative; overflow: hidden;margin: 60px 0px 192px 0px;padding: 0px;border: none;width: 793px;}
#page_1222 #id1_12222 {border:none;margin: 4px 0px 0px 0px;padding: 0px;border:none;width: 793px;overflow: hidden;}
#page_1222 #id1_22222 {border:none;margin: 249px 0px 0px 80px;padding: 0px;border:none;width: 713px;overflow: hidden;}

#page_1222 #p1dimg1222 {position:absolute;top:0px;left:80px;z-index:-1;width:637px;height:845px;}
#page_1222 #p1dimg1222 #p1img12222 {width:637px;height:845px;}




.dclr22222 {clear:both;float:none;height:1px;margin:0px;padding:0px;overflow:hidden;}

.ft00000{font: bold 16px 'Tahoma';color: #ffffff;line-height: 19px;}
.ft11111{font: 16px 'Times New Roman';line-height: 19px;}
.ft22222{font: 16px 'Times New Roman';line-height: 25px;}
.ft3333{font: 1px 'Times New Roman';line-height: 1px;}
.ft4444{font: bold 16px 'Times New Roman';line-height: 19px;}
.ft55555{font: italic 13px 'Times New Roman';line-height: 15px;}
.ft666666{font: 1px 'Times New Roman';line-height: 12px;}
.ft7777{font: italic 13px 'Times New Roman';margin-left: 4px;line-height: 21px;}
.ft88888{font: italic 13px 'Times New Roman';line-height: 21px;}
.ft99999{font: italic 16px 'Times New Roman';line-height: 19px;}
.ft100000{font: italic 16px 'Times New Roman';margin-left: 4px;line-height: 19px;}

.p00000{text-align: right;padding-right: 101px;margin-top: 0px;margin-bottom: 0px;}
.p11111{text-align: left;padding-left: 80px;margin-top: 15px;margin-bottom: 0px;}
.p222222{text-align: left;padding-left: 80px;padding-right: 93px;margin-top: 5px;margin-bottom: 0px;}
.p33333{text-align: left;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p4444{text-align: left;padding-left: 20px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p5555{text-align: left;padding-left: 19px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p6666{text-align: left;padding-left: 80px;padding-right: 100px;margin-top: 9px;margin-bottom: 0px;}
.p7777{text-align: left;padding-left: 80px;margin-top: 0px;margin-bottom: 0px;}
.p88888{text-align: left;padding-left: 80px;margin-top: 4px;margin-bottom: 0px;}
.p9999{text-align: left;padding-left: 80px;padding-right: 86px;margin-top: 5px;margin-bottom: 0px;}
.p1000000{text-align: left;margin-top: 0px;margin-bottom: 0px;}

.td00000{padding: 0px;margin: 0px;width: 0px;vertical-align: bottom;}
.td1111{padding: 0px;margin: 0px;width: 411px;vertical-align: bottom;}
.td2222{padding: 0px;margin: 0px;width: 143px;vertical-align: bottom;}

.tr000{height: 28px;}
.tr1111{height: 23px;}
.tr2222{height: 24px;}
.tr3333{height: 31px;}
.tr444{height: 7px;}
.tr5555{height: 17px;}
.tr6666{height: 19px;}
.tr7777{height: 12px;}

.t0000{width: 554px;margin-left: 93px;margin-top: 13px;font: 16px 'Times New Roman';}